
.nav {

    grid-area: n;
    padding: 20px;
}

.item {
    margin-top: 10px;
}

.item a {

    font-size: 20px;
    text-decoration: none;
    color: #517eea;

}

.item a.activeLink {
    color: blue;
    margin-left: 20px;
    transition: all 0.5s;
}
